<body>

    <head>
        <link rel="stylesheet" href="../style/style.css">

    </head>

    <header>


        <nav class="nav-row">
            <div class="topnav">
                <a href="/">Home</a>
                <a href="/bets">Bets</a>
                <a href="/performance" class="current">Performance</a>
                <a href="#">Profile</a>

                <div class="topnav-right">
                    <a href="#">Log In</a>
                </div>
            </div>
        </nav>
    </header>
    <section class="visual-data">
        <div class="chart-div">
            <canvas id="line-chart" width="400" height="400"></canvas>
            <div class="small-charts">
                <canvas id="pie-chart" width="400" height="400"></canvas>
                <canvas id="bar-chart" width="400" height="400"></canvas>
            </div>
    </section>

    <section class="hist-bets">

        <header class="hist-head">
            <div class="head date">Date</div>
            <div class="head status">Status</div>
            <div class="head matchup">Matchup</div>
            <div class="head final-score">Final Score</div>
            <div class="head type">Bet</div>
            <div class="head odds">Odds</div>
            <div class="head risk">Risk</div>
            <div class="head winnings">Payout</div>

        </header>


    <% array.forEach((bet) => { %>
        <div class="individual">
            <div class="data date"><%= bet.date %></div>
            <div class="data status"><%= bet.gameStatus %></div>
            <div class="data matchup">
                <span class="away" ><%= bet.awayTeam %></span><br>
                <span class="home" >@ <%= bet.homeTeam %></span>
            </div>
            <div class="data final-score">
                <span class="away-score" value=10>10</span><br>
                <span class="home-score" value=25>25</span>
            </div>
            <div class="data type">
                <span class="bet-team"><%= bet.betTeam %></span><br>
                <span class="bet-type"><%= bet.betType %></span>
            </div>
            <div class="data odds" value=-4><%= bet.odds %></div>
            <div class="data risk" value=25><%= bet.risk %></div>
            <div class="data winnings" value=50><%= bet.potentialWinnings %></div>
        </div>
    <%}); %>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="performance-script.js"></script>
    <!-- <script src="../public/p/.js"></script> -->
</body>
